# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [16]:
import pandas as pd
import numpy as np

# Seu código aqui

# Dados fornecidos
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Criando a séries separadas 
serie_anos = pd.Series(anos)
serie_anomalias = pd.Series(anomalias_termicas)

print(serie_anos)
print("")
print(serie_anomalias)

0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [18]:

# seu código aqui
# Criando um Panda Series com anos como índice
serie_anomalias_anos = pd.Series(anomalias_termicas, index=anos)

print(serie_anomalias_anos)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [20]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

serie_temperaturas = pd.Series(dic_temperaturas)

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [24]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)

print(df)

             0           1           2
0   107.373224   99.273423  101.392186
1   110.816191  104.758849   98.446125
2   102.904057   91.303488  110.893617
3    95.426216  105.082339   85.935885
4   103.328645  114.095390   89.392153
5   114.151626  105.658821   79.790342
6    96.917019  102.007515  105.399931
7   100.927144  107.745548  101.995275
8   125.481558  106.113427  100.437768
9   105.975927  107.979323  101.394021
10   89.198876   91.810509   92.078000
11  101.888879  101.891442  114.575272
12  100.240769   99.761392   98.857575
13  109.574246   93.110283   94.672200
14   99.609628   96.947809   89.772003
15   92.506690   92.825252   90.858277
16   77.929932  103.154885  107.505924
17  117.026120   94.105135   98.283440
18  107.641479  100.844851   87.897942
19  111.523389   89.482529   87.750649

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [38]:
#seu código aqui
df = pd.DataFrame(arr, index=range(1, 21), columns=["x1", "x2", "x3"])

print(df)

            x1          x2          x3
1   107.373224   99.273423  101.392186
2   110.816191  104.758849   98.446125
3   102.904057   91.303488  110.893617
4    95.426216  105.082339   85.935885
5   103.328645  114.095390   89.392153
6   114.151626  105.658821   79.790342
7    96.917019  102.007515  105.399931
8   100.927144  107.745548  101.995275
9   125.481558  106.113427  100.437768
10  105.975927  107.979323  101.394021
11   89.198876   91.810509   92.078000
12  101.888879  101.891442  114.575272
13  100.240769   99.761392   98.857575
14  109.574246   93.110283   94.672200
15   99.609628   96.947809   89.772003
16   92.506690   92.825252   90.858277
17   77.929932  103.154885  107.505924
18  117.026120   94.105135   98.283440
19  107.641479  100.844851   87.897942
20  111.523389   89.482529   87.750649

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [50]:
# seu código aqui

# Calculando a média das colunas
df["media"] = df.mean(axis=1)

print(df)

            x1          x2          x3       media
1   107.373224   99.273423  101.392186  102.679611
2   110.816191  104.758849   98.446125  104.673722
3   102.904057   91.303488  110.893617  101.700387
4    95.426216  105.082339   85.935885   95.481480
5   103.328645  114.095390   89.392153  102.272063
6   114.151626  105.658821   79.790342   99.866930
7    96.917019  102.007515  105.399931  101.441488
8   100.927144  107.745548  101.995275  103.555989
9   125.481558  106.113427  100.437768  110.677585
10  105.975927  107.979323  101.394021  105.116423
11   89.198876   91.810509   92.078000   91.029128
12  101.888879  101.891442  114.575272  106.118531
13  100.240769   99.761392   98.857575   99.619912
14  109.574246   93.110283   94.672200   99.118910
15   99.609628   96.947809   89.772003   95.443147
16   92.506690   92.825252   90.858277   92.063406
17   77.929932  103.154885  107.505924   96.196914
18  117.026120   94.105135   98.283440  103.138231
19  107.641479  100.844851   87.897942   98.794757
20  111.523389   89.482529   87.750649   96.252189

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [52]:
# seu código aqui
df["log_med"] = np.log(df["media"])

print(df)

            x1          x2          x3       media   log_med
1   107.373224   99.273423  101.392186  102.679611  4.631614
2   110.816191  104.758849   98.446125  104.673722  4.650848
3   102.904057   91.303488  110.893617  101.700387  4.622031
4    95.426216  105.082339   85.935885   95.481480  4.558932
5   103.328645  114.095390   89.392153  102.272063  4.627637
6   114.151626  105.658821   79.790342   99.866930  4.603839
7    96.917019  102.007515  105.399931  101.441488  4.619482
8   100.927144  107.745548  101.995275  103.555989  4.640112
9   125.481558  106.113427  100.437768  110.677585  4.706621
10  105.975927  107.979323  101.394021  105.116423  4.655069
11   89.198876   91.810509   92.078000   91.029128  4.511180
12  101.888879  101.891442  114.575272  106.118531  4.664557
13  100.240769   99.761392   98.857575   99.619912  4.601362
14  109.574246   93.110283   94.672200   99.118910  4.596320
15   99.609628   96.947809   89.772003   95.443147  4.558531
16   92.506690   92.825252   90.858277   92.063406  4.522478
17   77.929932  103.154885  107.505924   96.196914  4.566397
18  117.026120   94.105135   98.283440  103.138231  4.636070
19  107.641479  100.844851   87.897942   98.794757  4.593045
20  111.523389   89.482529   87.750649   96.252189  4.566972